.login-bg::after{
  background: #000;
  z-index: -1;
  opacity: .3;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.visually-hidden{
  display: none;
}
.dropdown-pagination * {
  min-width: 0 !important;
}
.dt-paging-button{
  padding:0px !important;
  margin-left: 0 !important;
}
@media screen and ((min-width: 992px) and (max-width:1056px)) , (max-width:768px){
  #myTable{
    display: block;
    overflow-x: auto;
  }
}

@media screen and (max-width: 991px) {
  .main-sidebar{
    margin-left: -250px;
  }
}
.dt-empty{
  text-align: center;
}