.login-bg::after{
  background: #000;
  z-index: -1;
  opacity: .3;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.visually-hidden{
  display: none;
}
.dropdown-pagination * {
  min-width: 0 !important;
}
.dt-paging-button{
  padding:0px !important;
  margin-left: 0 !important;
}
@media screen and ((min-width: 992px) and (max-width:1056px)) , (max-width:768px){
  #myTable{
    display: block;
    overflow-x: auto;
  }
}
@media screen and (max-width:628px){
  /* #myTable{
    display: block;
    overflow-x: auto;
  } */
   td, p, button, a, span, div{
    font-size: small !important;
   }
  .tableFilter{
    flex-direction: column;
    width: 100%;
  }
  .dt-buttons{
    margin: 0 !important;
    width: 100%;
  }
  .tableFilter > * {
    margin: 0 !important;
    width: 100%;
  }
  .resetFilter{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    display: block !important;
  }
  .resetFilter button{
    width: 100%;
  }
}
/* @media screen and (max-width: 991px) {
  .main-sidebar{
    margin-left: -250px;
  }
} */
.dt-empty{
  text-align: center;
}
.register-box{
  width: fit-content;
}
.register-card{
  min-height: fit-content !important;
}
td:not(:has(button)){
  word-wrap: break-word; 
  word-break: break-all; 
  white-space: normal;
}
